.nav {
    display: flex;
    gap: 15px;
  }

  .hidden {
    display: none;
  }
  
  .link {
    text-decoration: none;
    color: black;
  }
  
  .active {
    color: orangered;
  }

  .header {
    background-color: rgb(204, 163, 220);
    padding: 15px 20px;
    border-radius: 5px; 
    box-shadow: 0px 10px 13px -7px #535353, 5px 5px 15px 5px rgba(0,0,0,0);
    margin-bottom: 20px;
  }